@model ApiAnnouncements.Models.Announcement
@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>
@using (Html.BeginForm("Details", "Home"))
{
    <div class="form-group">
        <h2>@Html.DisplayFor(model => model.Title)</h2>
    </div>
    <div>
        @Html.DisplayFor(model=> model.Content)
    </div>
    <div>
        @Html.DisplayFor(model=> model.ExpireDate)
    </div>
    
    
}
